ul.list.pl0
  for _ in .books
    li.bb.bw1.bw0-ns.b--black-025.mb3.mb0-ns
      a.link.pointer.blue(
        hx-on:click="fill({{.Id}})"
        id="gbook-{{.Id}}"
        data-title="{{.Title}}"
        data-author="{{.Author}}"
        data-isbn="{{.ISBN}}"
      ) {{.Title}}
        if .Author
          | / {{.Author}}
      if .InfoLink
        small
          a.blue.link.pointer(href="{{.InfoLink}}" target="_blank") (link)

script(type="text/javascript").
  function fill(id) {
    data = htmx.find("#gbook-" + id).dataset
    titleInput = htmx.find("input[name='title']")
    titleInput.value = data['title']
    authorInput = htmx.find("input[name='author']")
    authorInput.value = data['author']
    isbnInput = htmx.find("input[name='isbn']")
    isbnInput.value = data['isbn']
  }
