if .columns
  .flex.flex-column
    for _ in .presets
      .w-100.pa2
        label.fl.w-20(for="{{.}}") {{.}}
        select.fl.w-80(
          name="{{.}}"
        )
          for _ in $.columns
            option(
              value="{{.}}"
            ) {{.}}
