mixin book_item_line(book)
  a.link.blue(href="/page/book/{{.ID}}#") {{.Title}}
  if .Author
    span /
    span
      a.link.blue(href="/page/author/{{.Author}}#") {{.Author}}

mixin book_item(book)
  li.bb.bw1.bw0-ns.b--black-025.mb3.mb0-ns
    +book_item_line(.)

mixin book_item_with_tag(book)
  li.bb.bw1.bw0-ns.b--black-025.mb3.mb0-ns
    +book_item_line(.)
    span(
      class="tag {{.Status}}"
    ) &#x23;{{.Status}}

mixin book_list(books)
  ul.list.pl0
    for _ in .books
      +book_item(.)
