doctype html
html
  head
    title buku
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css")
    link(rel="stylesheet" href="/css/override.css")
    script(src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js")

  body.athelas.black-80.bg-white-90.ma0.pa0
    header.tc.pv3.bg-near-white.bb.b--black-05
      a.f2.lh-copy.link.black-80(hx-boost="true" href="/page/home#" hx-target="main") buku
      nav.f5.lh-title.mt3(hx-boost="true" hx-target="main")
        a.mh1.pv1.ph2.black-80.hover-blue.dib.br3.link(href="/page/backlog#") Backlog
        a.mh1.pv1.ph2.black-80.hover-blue.dib.br3.link(href="/page/admin#") Admin
        a.mh1.pv1.ph2.black-80.hover-blue.dib.br3.link(href="/page/book/new#") New

    main.mv4.mw6.w-100.center.h-title.lh-copy.ph2(hx-boost="true" hx-target="main")
      | {{embed}}

    footer.tc.mt5
      p 
        Copyright &copy {{this_year}}
        a.link.black-80.hover-blue(href="https://github.com/waynezhang/buku" target="_blank") buku
