a.mh1.pv1.ph2.blue.dib.link(href="/page/backlog") Backlog
a.mh1.pv1.ph2.blue.dib.link(href="/page/admin") Admin
a.mh1.pv1.ph2.blue.dib.link(href="/page/books") Search
a.mh1.pv1.ph2.blue.dib.link(href="/page/book/new") New
