<template x-component="stats">
    <div class="my-2">
        <core-sectiontitle>Stats</core-sectiontitle>
        <table class="table-fixed">
            <tbody>
                <tr>
                    <td class="pr-8">Year</td>
                    <td>
                        <a
                            :href="'/page/book/year/' + $prop('year')"
                            x-text="$prop('year')"
                        >
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="pr-8">Finished</td>
                    <td>
                        <span x-text="$prop('finished')"></span>
                    </td>
                </tr>
                <tr>
                    <td class="pr-8">Ongoing</td>
                    <td>
                        <span x-text="$prop('ongoing')"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <slot></slot>
</template>
