div(
  x-show="loaded"
  x-data=`{
    loaded: false,
    year: 0,
    books: [],
    async update(year) {
      this.year = year
      this.books = await $json("/api/books/year/" + year + ".json")
      this.loaded = true
    }
  }`
  x-init="update($router.params.year)"
)
  .page-header(x-text="year")

  template(x-if="books.length == 0")
    .info-banner
      | You are lazy in this year.

  template(x-if="books.length > 0")
    div
      .info-banner.mb4(
        x-text="'Nice! You have finished ' + books.length + ' book(s) this year.'"
      )
      template(x-for="book in books")
          include ../../components/book_item
