<template x-component:common="booklist">
    <div>
        <ul>
            <template x-for="book in $prop('books')">
                <li>
                    <a :href="'/page/book/' + book.id" x-text="book.title"></a>
                    <template x-if="book.author">
                        <span>
                            <span class="text-gray-400"> / </span>
                            <a
                                :href="'/page/author/' + book.author"
                                x-text="book.author"
                                class="text-base"
                            ></a>
                        </span>
                    </template>
                    <template x-if="$prop('show-tag')">
                        <span
                            class="ml-2 text-base"
                            :class="$api.tagClassMap[book.status]"
                            x-text="'#' + book.status"
                        ></span>
                    </template>
                </li>
            </template>
        </ul>
        <slot></slot>
        <script>
            return {
                tagClassMap: {
                    "to-read": "text-orange-700",
                    reading: "text-green-700",
                    read: "text-gray-300",
                },
            };
        </script>
    </div>
</template>
