<template
    x-component:common="dropdown"
    x-modelable="value"
    x-data="{
        value: '',
    }"
>
    <div class="flex">
        <div class="relative">
            <select
                x-model="value"
                :data-type="$prop('select-data-type')"
                :name="$prop('select-name')"
                class="pl-3 pr-8 py-1 bg-transparent text-slate-700 text-sm border border-slate-400 appearance-none rounded-none"
            >
                <template x-for="opt in $prop('options')">
                    <option :value="opt[0]" x-text="opt[1]"></option>
                </template>
            </select>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.2"
                stroke="currentColor"
                class="h-5 w-5 ml-1 absolute top-1.5 right-1.5 text-slate-700"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                />
            </svg>
        </div>
    </div>
    <slot></slot>
</template>
