<template x-component:books="edit">
    <div>
        <common-pagetitle
            ><span x-text="$api.$of('').data.title"></span
        ></common-pagetitle>
        <div class="mt-8">
            <common-message type="error">
                <span x-text="$api.$of('').data.error_message"></span>
            </common-message>
            <div>
                <div :class="$api.class.label">Title</div>
                <div class="flex items-center" :class="$api.class.value">
                    <input
                        class="grow"
                        :class="$api.class.input"
                        x-model="$api.data.form.title"
                    />
                </div>
                <div :class="$api.class.label">Author</div>
                <div class="flex" :class="$api.class.value">
                    <input
                        class="grow"
                        :class="$api.class.input"
                        x-model="$api.data.form.author"
                        list="author_list"
                    />
                </div>
                <div :class="$api.class.label">Series</div>
                <div :class="$api.class.value">
                    <input
                        :class="$api.class.input"
                        x-model="$api.data.form.series"
                        list="series_list"
                    />
                </div>
                <div :class="$api.class.label">ISBN</div>
                <div :class="$api.class.value">
                    <input
                        :class="$api.class.input"
                        x-model="$api.data.form.isbn"
                    />
                </div>
                <div :class="$api.class.label">Started</div>
                <div :class="$api.class.value">
                    <input
                        :class="$api.class.input"
                        x-model="$api.data.form.started_at"
                        x-mask="9999-99-99"
                    />
                </div>
                <div :class="$api.class.label">Finished</div>
                <div :class="$api.class.value">
                    <input
                        :class="$api.class.input"
                        x-model="$api.data.form.finished_at"
                        x-mask="9999-99-99"
                    />
                </div>
                <div :class="$api.class.label">Comments</div>
                <textarea
                    name="comments"
                    :class="$api.class.textarea"
                    x-model="$api.data.form.comments"
                ></textarea>
            </div>
            <div class="mt-8 flex gap-4">
                <common-button type="primary" @click="$api.$of().doSubmit()"
                    >Submit</common-button
                >
                <common-button @click="$api.$of('').openGoogleSearchModal()"
                    >Google</common-button
                >
            </div>
            <slot></slot>
        </div>
        <datalist id="author_list">
            <template x-for="author in $api.data.authors_candidates">
                <option :value="author" />
            </template>
        </datalist>
        <datalist id="series_list">
            <template x-for="series in $api.data.series_candidates">
                <option :value="series" />
            </template>
        </datalist>
        <dialog id="googlesearch-dialog">
            <div class="px-2 py-2 w-72 h-72 flex flex-col">
                <div class="">
                    <input
                        class="block w-full px-2 py-1 text-gray-700 border border-slate-400 rounded-none"
                        placeholder="intitle:xxx inauthor:xxx isbn:xxx"
                        x-model="$api.google_books.query"
                        @input.debounce.300ms="$api.doGoogleSearch()"
                    />
                </div>
                <div class="grow mt-4 overflow-auto">
                    <template x-if="$api.google_books.books.length">
                        <ul>
                            <template x-for="g in $api.google_books.books">
                                <li>
                                    <a
                                        href="#"
                                        class="text-base"
                                        x-text="g.title + (g.author ? (' / ' + g.author) : '')"
                                        @click="$api.fillGoogleBook(g.title, g.author,g.isbn)"
                                    />
                                </li>
                            </template>
                        </ul>
                    </template>
                    <template x-if="$api.google_books.books.length == 0">
                        <div
                            class="text-sm text-gray-400 bg-gray-100 w-full h-full content-center text-center"
                        >
                            <p>No books found.</p>
                        </div>
                    </template>
                </div>
                <div class="mt-4 flex place-content-end">
                    <common-button
                        @click="$api.$of('').closeGoogleSearchModal()"
                        >Close</common-button
                    >
                </div>
            </div>
        </dialog>
    </div>
    <script>
        return {
            class: {
                label: "text-sm text-gray-500 mb-1",
                value: "mb-4 flex",
                input: "grow py-1 px-2 border border-slate-400 form-select rounded-none",
                textarea:
                    "w-full col-span-8 px-2 py-1 border border-slate-400 h-28",
            },
            data: {
                title: "",
                id: "",
                form: {
                    title: "",
                    author: "",
                    series: "",
                    isbn: "",
                    started_at: "",
                    finished_at: "",
                    comments: "",
                },
                created_at: "",
                authors_candidates: [],
                series_candidates: [],
                error_message: "",
            },
            google_books: {
                query: "",
                books: [],
                max_results: 20,
            },
            async onMounted() {
                this.id = this.$prop("book-id");
                if (this.id) {
                    await this.loadBook(this.id);
                } else {
                    this.data.title = "New Book";
                }

                this.data.authors_candidates = await $json("/api/authors.json");
                this.data.series_candidates = await $json("/api/series.json");
            },
            async loadBook(id) {
                const book = await $json("/api/book/" + id + ".json");

                this.data.title = book.title;
                this.data.created_at = book.created_at;

                this.data.form.title = book.title;
                this.data.form.author = book.author;
                this.data.form.series = book.series;
                this.data.form.isbn = book.isbn;
                this.data.form.started_at = formatDate(book.started_at);
                this.data.form.finished_at = formatDate(book.finished_at);
                this.data.form.comments = book.comments;
            },
            async doSubmit() {
                this.data.error_message = "";
                try {
                    let url = "/api/book.json";
                    if (this.id) {
                        url = "/api/book/" + this.id + ".json";
                    }
                    const book = await $json(url, "POST", this.data.form);
                    await this.$router.navigate("/page/book/" + book.id);
                } catch (e) {
                    this.data.error_message = e.message;
                }
            },
            async doGoogleSearch() {
                this.google_books.books = await $json(
                    "/api/google_book_search.json" +
                        "?query=" +
                        this.google_books.query +
                        "&max_results=" +
                        this.google_books.max_results,
                );
            },
            fillGoogleBook(title, author, isbn) {
                this.data.form.title = title;
                this.data.form.author = author;
                this.data.form.isbn = isbn;
                this.closeGoogleSearchModal();
            },
            openGoogleSearchModal() {
                document.getElementById("googlesearch-dialog").showModal();
                this.google_books.query = "";
                this.google_books.books = [];
            },
            closeGoogleSearchModal() {
                document.getElementById("googlesearch-dialog").close();
            },
        };
    </script>
</template>
