<template x-component:books="index">
    <div>
        <common-pagetitle>
            Books
            <common-counttag
                :count="$api.$of().$of().books.length"
            ></common-counttag>
        </common-pagetitle>
        <div class="my-4">
            <input
                class="block w-full px-2 py-1 text-gray-700 border border-slate-400 rounded-none"
                placeholder="Search"
                x-model="$api.name"
                @input.debounce.300ms="$api.doSearch()"
            />
            <div class="mt-2 flex space-x-4">
                <common-dropdown
                    x-model="$api.$of('').sort"
                    :options="[
                        ['title', 'Title'],
                        ['author', 'Author'],
                        ['created_at', 'Added Date'],
                        ['started_at', 'Started Date'],
                        ['finished_at', 'Finished Date'],
                    ]"
                    @change="$api.$of().doSearch()"
                >
                </common-dropdown>
                <common-dropdown
                    x-model="$api.$of('').order"
                    :options="[
                        ['asc', 'Asc'],
                        ['desc', 'Desc'],
                    ]"
                    @change="$api.$of().doSearch()"
                ></common-dropdown>
                <common-dropdown
                    x-model="$api.$of('').status"
                    :options="[
                        [' ', 'All'],
                        ['to-read', 'Backlog'],
                        ['reading', 'Reading'],
                        ['read', 'Finished'],
                    ]"
                    @change="$api.$of().doSearch()"
                ></common-dropdown>
            </div>
        </div>
        <common-booklist
            :books="$api.$of('').books"
            :show-tag="true"
        ></common-booklist>
        <template x-if="$api.books.length == 0">
            <common-message type="info"> No books found. </common-message>
        </template>
        <slot></slot>
    </div>
    <script>
        return {
            name: "",
            order: "asc",
            sort: "title",
            status: "",
            books: [],
            async onMounted() {
                this.status = this.$api.$prop("status") || "";
                await this.doSearch();
            },
            async doSearch() {
                this.books = await $json(
                    "/api/books.json?" +
                        "name=" +
                        this.name +
                        "&order=" +
                        this.order +
                        "&sort=" +
                        this.sort +
                        "&status=" +
                        this.status,
                );
            },
        };
    </script>
</template>
