<template x-component:books="yearview">
    <div>
        <common-pagetitle>
            <span x-text="$api.$of('').year"
        /></common-pagetitle>
        <common-booklist :books="$api.$of('').books"></common-booklist>
    </div>
    <script>
        return {
            year: "",
            books: [],
            async onMounted() {
                this.year = this.$prop("year");
                this.books = await $json(
                    "/api/books/year/" + this.year + ".json",
                );
            },
        };
    </script>
</template>
