meter::-webkit-meter-bar {
  background: transparent;
}

meter::-webkit-meter-optimum-value {
  background: #ccc;
}

meter {
  -webkit-appearance: none;
}

.tag.read {
  display: none;
}

.tag.to-read {
  color: #e33;
}

.tag.reading {
  color: #5c8;
}

.error {
  color: #e33;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}
