<template x-component:admin="page">
    <div>
        <common-pagetitle>Admin</common-pagetitle>
        <div class="grid gap-6">
            <div>
                <common-sectiontitle>Data Management</common-sectiontitle>
                <div class="space-x-4 mt-4">
                    <a href="/page/books"> Books </a>
                    <a href="/page/authors"> Authors </a>
                    <a href="/page/serieses"> Series </a>
                </div>
            </div>
            <div>
                <common-sectiontitle>Import / Export</common-sectiontitle>
                <div class="space-x-4 mt-5">
                    <a href="/page/admin/import"> Import </a>
                    <common-button @click="window.open('/api/export')"
                        >Export</common-button
                    >
                </div>
            </div>
            <div>
                <common-sectiontitle>Danger Zone</common-sectiontitle>
                <div class="space-x-4 mt-5">
                    <common-button
                        type="destructive"
                        @click="$api.$of().deleteAll()"
                    >
                        Delete All
                    </common-button>
                </div>
                <common-message type="info">
                    <span x-text="$api.$of('').info_message"></span>
                </common-message>
            </div>
        </div>
    </div>
    <script>
        return {
            info_message: "",
            async deleteAll() {
                const confirmed = confirm("Are your sure to delete all data?");
                if (!confirmed) {
                    return;
                }
                await $json("/api/delete_all.json", "POST");
                this.info_message = "All books are deleted.";
            },
        };
    </script>
</template>
