<template x-component:home="stats">
    <div class="my-2">
        <common-sectiontitle>Stats</common-sectiontitle>
        <div class="grid grid-cols-8">
            <div class="col-span-2 text-gray-600 text-base">Year</div>
            <div class="col-span-6">
                <a
                    :href="'/page/book/year/' + $prop('year')"
                    x-text="$prop('year')"
                ></a>
            </div>
            <div class="col-span-2 text-gray-600 text-base">Finished</div>
            <div class="col-span-6">
                <span x-text="$prop('finished')"></span>
            </div>
            <div class="col-span-2 text-gray-600 text-base">Ongoing</div>
            <div class="col-span-6">
                <span x-text="$prop('ongoing')"></span>
            </div>
        </div>
    </div>
    <slot></slot>
</template>
