<template x-component:backlog="page">
    <div>
        <common-pagetitle>
            <span x-text="'Backlog (' + $api.$of('').books.length + ')'"></span>
        </common-pagetitle>
        <common-booklist :books="$api.$of('').books"></common-booklist>
        <template x-if="$api.books.length == 0">
            <common-message type="info"> No books found. </common-message>
        </template>
    </div>
    <script>
        return {
            books: [],
            async onMounted() {
                this.books = await $json("/api/books/to-read.json");
            },
        };
    </script>
</template>
