div(
  x-data=`{
    error_message: "",
    async deleteAll() {
      const confirmed = confirm("Are your sure to delete all data?");
      if (!confirmed) { return }
      await $json("/api/delete_all.json", "POST")
    },
  }`
)
  .page-header Admin

  .sub-page-header Data Management

  a.link.blue.mr3(href="/page/books") Books
  a.link.blue.mr3(href="/page/authors") Authors
  a.link.blue.mr3(href="/page/serieses") Series

  .mt4

  .sub-page-header Import/Export

  a.link.blue.mr3(href="/page/admin/import") Import
  a.link.mr3.button(target="_" href="/api/export") Export

  .mt4

  .sub-page-header Danger Zone

  a.pointer.link.button.destructive(
    @click="deleteAll()"
  ) Delete all data
