h3 Admin

h4 Data Management
a.link.blue.mr3(href="/page/book/all#") Books
a.link.blue.mr3(href="/page/author/all#") Authors
a.link.blue.mr3(href="/page/series/all#") Series

h4 Import/Export
a.link.blue.mr3(href="/page/import#") Import
a.link.blue.mr3.ba.br3.pv1.ph3.dim(href="/page/export" hx-boost="false") Export

h4 Danger Zone
a.pointer.link.red.ba.br3.pv1.ph3.dim(
  hx-post="/page/admin/nuke"
  hx-confirm="Ar you sure to nuke the database?"
  hx-target="#message"
) Delete all data
p#message
