include ../mixin/mixin

.page-header {{.name}}

.sub-page-header All books

ul.list.pl0
  for _ in .books
    +book_item_with_tag(.)

.sub-page-header Actions

a.link.button(
  hx-post="/page/author/{{.name}}/rename"
  hx-prompt="New name"
  hx-target="#message"
) Rename

p#message
