include ../mixin/mixin

h5 {{.name}}

section
  h6 All books
  ul
    for _ in .books
      +book_item_with_tag(.)
section
  p
    button(
      hx-post="/page/author/{{.name}}/rename"
      hx-prompt="New name"
      hx-target="#message"
    ) Rename
  p#message
