div(
  x-show="loaded"
  x-init="update()"
  x-data=`{
    loaded: false,
    books: [],
    async update() {
      this.books = await $json("/api/books/to-read.json")
      this.loaded = true
    }
  } `
)
  .page-header(x-text="'Backlog (' + books.length + ')'")

  template(x-if="books.length == 0")
   .info-banner
     | Congratulations! You've finished all books! 

  template(x-if="books.length > 0")
    template(x-for="book in books" x-data="{ show_tag: false }")
      include ../components/book_item
