div(
  x-show="loaded"
  x-init="update($router.params.name)"
  x-data=`{
    loaded: false,
    name: "",
    books: [],
    error_message: "",
    async update(name) {
      this.name = name
      this.books = await $json("/api/books/series/" + name + ".json")
      this.loaded = true
    },
    async rename() {
      new_name = (prompt("Rename series name", this.name) || "").trim()
      if (!new_name || new_name == this.name) { return }

      $json(
        "/api/series/" + this.name + ".json",
        "POST",
        { name: new_name },
      ).then(_ => {
        $router.navigate("/page/series/" + new_name)
        this.update(new_name)
      }).catch(e => {
        this.error_message = e.message
      })
    },
  }`
)
  .page-header
    apan(x-text="name")
    span.label(x-text="books.length")

  template(x-for="book in books" x-data="{ show_tag: false }")
    include ../components/book_item

  .mt4.dib
    a.link.button(@click="rename()") Rename

  p.error(x-text="error_message")
