include ../mixin/mixin

.f2.fw6.black-80.pb3 {{.name}}
.mt3

ul.list.pl0
  for _ in .books
    +book_item_with_tag(.)

h4 Actions
a.link.pointer.br2.ba.blue.dim.pv1.ph3(
  hx-post="/page/series/{{.name}}/rename"
  hx-prompt="New name"
  hx-target="#message"
) Rename

p#message
