div(
  x-show="loaded"
  x-init="update()"
  x-data=`{
    loaded: false,
    series: [],
    async update() {
      this.series = await $json("/api/series.json")
      this.loaded = true
    }
  }`
)
  .page-header(x-text="'Series (' + series.length + ')'")

  template(x-for="s in series")
    .bb.bw1.bw0-ns.b--black-025.mb3.mb0-ns
      a.link.blue(
        x-bind:href="'/page/series/' + s"
        x-text="s"
      )
