include ../mixin/mixin

.f2.fw6.black-80.pb3 {{.year}}
.mt3

section
  if .books | len
    mark.db.pa2.br2.tc
      | Nice! You have finished {{.books | len}} book(s) this year.
    +book_list(.books)
  else
    mark.db.pa2.br2.tc
      | You are lazy in this year.
