include ../mixin/mixin

h3 {{.year}}

section
  if .books | len
    mark.db.pa2.br2.tc
      | Nice! You have finished {{.books | len}} book(s) this year.
    +book_list(.books)
  else
    mark.db.pa2.br2.tc
      | You are lazy in this year.
