<template x-component:authors="index">
    <div>
        <common-pagetitle>Authors</common-pagetitle>
        <div class="my-4">
            <div class="my-4">
                <input
                    class="block w-full px-2 py-1 text-gray-700 border border-gray-700"
                    placeholder="Search"
                    x-model="$api.name"
                    @input.debounce.300ms="$api.doSearch()"
                />
            </div>
            <div>
                <ul>
                    <template x-for="a in $api.authors">
                        <li>
                            <a :href="'/page/author/' + a" x-text="a"></a>
                        </li>
                    </template>
                </ul>
            </div>
            <template x-if="$api.authors.length == 0">
                <common-message type="info">No authors found.</common-message>
            </template>
        </div>
        <slot></slot>
    </div>
    <script>
        return {
            name: "",
            authors: [],
            async onMounted() {
                await this.doSearch();
            },
            async doSearch() {
                this.authors = await $json(
                    "/api/authors.json?name=" + this.name,
                );
            },
        };
    </script>
</template>
